@import "../variables";
@import "colors";

$blue: map-get($solid-colors, "blue") !default;
$indigo: map-get($solid-colors, "indigo") !default;
$purple: map-get($solid-colors, "purple") !default;
$pink: map-get($solid-colors, "pink") !default;
$red: map-get($solid-colors, "red") !default;
$orange: map-get($solid-colors, "orange") !default;
$yellow: map-get($solid-colors, "yellow") !default;
$green: map-get($solid-colors, "green") !default;
$teal: map-get($solid-colors, "teal") !default;
$cyan: map-get($solid-colors, "cyan") !default;

// Custom Red Palette matching user request
$custom-red-dark: #8B0000;
$custom-red-medium: #B22222;
$custom-red-bright: #FF0000;

$primary-base: $custom-red-medium; // Use medium red as primary base
$white: #fff !default;
$gray-100: #F3F4F6 !default;
$gray-200: #E5E7EB !default;
$gray-300: #D1D5DB !default;
$gray-400: #9CA3AF !default;
$gray-500: #6B7280 !default;
$gray-600: #4B5563 !default;
$gray-700: #374151 !default;
$gray-800: #1F2937 !default;
$gray-900: #111827 !default;
$black: darken($primary-base, 60%) !default;
$primary: $primary-base !default;
$secondary: $gray-800 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $custom-red-bright !default; // Use bright red for danger
$light: $gray-500 !default;
$dark: $gray-900 !default;
$background: $white !default;
$foreground: $gray-900 !default;
$heading: darken($foreground, 8%);

// Dark Mode Variables
$dark-bg: #292929;
$dark-forground: #202020;
$dark-heading: #d8d8d8;

// Mixin overrides or adjustments if necessary

$colors: (
    purple: $purple,
    pink: $pink,
    red: $custom-red-medium,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-800) !default;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    gray-100: $gray-100,
    gray-200: $gray-200,
    gray-300: $gray-300,
    gray-400: $gray-400,
    gray-500: $gray-500,
    gray-600: $gray-600,
    gray-700: $gray-700,
    gray-800: $gray-800,
    gray-900: $gray-900,
    dark: $dark) !default;

@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~vue-good-table/dist/vue-good-table.css";
@import "~nprogress/nprogress.css";
@import "../../../fonts/iconsmind/iconsmind.css";
@import "../../vendor/bootstrap/bootstrap.scss";
@import "../bootstrap-rtl.scss";

@import "../globals/globals.scss";
@import "dark/dark";

// Custom Overrides for Red Theme Specifics
.btn-primary {
    background-color: $custom-red-medium;
    border-color: $custom-red-medium;

    &:hover {
        background-color: $custom-red-dark;
        border-color: $custom-red-dark;
    }
}

.text-primary {
    color: $custom-red-medium !important;
}

.bg-primary {
    background-color: $custom-red-medium !important;
}